// TODO: Refactor.

.posts-expand {
  padding-top: 40px;
}

@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }

  .post-body {
    pre, .highlight {
      padding: 10px;
      .gutter pre {
        padding-right: 10px;
      }
      pre {
        border-radius: 0;
      }
    }
  }
}

.posts-expand .post-body {
  +desktop() { text-align: justify; }


  h2, h3, h4, h5, h6 {
    padding-top: 10px;

    .header-anchor{
      float: right;
      margin-left: 10px;
      color: $grey-light;
      border-bottom-style: none;
      visibility: hidden;

      &:hover{
        color: inherit;
      }
    }

    &:hover .header-anchor{
      visibility: visible;
    }
  }

  ul li { list-style: circle; }

  img {
    box-sizing: border-box;
    margin: auto;
    padding: 3px;
    border: 1px solid $gray-lighter;
  }
}

.posts-expand .fancybox img { margin: 0 auto; }
