//
// Layout
// Note: Must name this file "outline" instead of "layout"
//       Or Hexo will use it as template layout.
// =================================================


html, body { height: 100%; }

.container {
  position: relative;
  min-height: 100%;
  &.one-collumn {
    width: 100%;
    padding: 0;
  }
}


// Header Section
// --------------------------------------------------
.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: $content-desktop;

  +desktop-large() {
    .container & { width: $content-desktop-large; }
  }
}

// Main Section
// --------------------------------------------------
.main { padding-bottom: $footer-height + $gap-between-main-and-footer; }
.main-inner {
  margin: 0 auto;
  width: $content-desktop;

  +desktop-large() {
    .container & { width: $content-desktop-large; }
  }
}


// Footer Section
// --------------------------------------------------
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: $footer-height;
}
.footer-inner {
  box-sizing: border-box;
  margin: 20px auto;
  width: $content-desktop;

  +desktop-large() {
    .container & { width: $content-desktop-large; }
  }
}
